<!-- https://stackblitz.com/edit/example-angular-material-reactive-form?file=app%2Fapp.component.html -->

<!-- <span *ngIf="recipeId"> -->

<nb-tabset>
    <nb-tab tabTitle="Recipes">
        <form [formGroup]="recipeForm" class="form" fxFill>
            <nb-card>
                <nb-card-header>
                    Edit Recipe
                    <!-- <nb-layout>
                            <nb-layout-column>Edit Recipe</nb-layout-column>
                            <nb-layout-column left class="colored-column-success">
                                <button mat-raised-button (click)="saveData()" style="outline: none;">
                                    Save
                                </button>
                            </nb-layout-column>
                        </nb-layout> -->
                </nb-card-header>
                <nb-card-body>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <!-- <label for="inputFirstName" class="label">Title</label> -->
                            <input type="text" nbInput fullWidth id="inputTitle" placeholder="Title"
                                formControlName="title" required
                                class="input-full-width size-medium status-basic shape-rectangle nb-transition" >
                        </div>
                    </div>
                    &nbsp;
                    <div class="col-sm-6">
                        <div class="form-group">
                            <!-- <label for="inputDescription" class="label">Description</label> -->
                            <input type="text" nbinput="" fullwidth="" id="inputDescription" placeholder="Description"
                                formControlName="description" required
                                class="input-full-width size-medium status-basic shape-rectangle nb-transition">
                        </div>
                    </div>
                    &nbsp;

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputEmail" class="label">Ingredients:</label>
                            <!-- <nb-list>
                                <nb-list-item formControlName="recipeIngredients"
                                     *ngFor="let ingredient of this.currentRecipe.recipeIngredients">
                                    Ingredient: {{ ingredient.name }}
                                </nb-list-item>
                            </nb-list> -->
                            <!-- <input
                                type="email" nbinput="" fullwidth="" id="inputEmail" placeholder=""
                                class="input-full-width size-medium status-basic shape-rectangle nb-transition"> -->
                        </div>
                    </div>
                    &nbsp;

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputWebsite" class="label">Steps:</label>
                            <!-- <input type="text" nbinput="" fullwidth="" id="inputWebsite" placeholder="Website"
                                class="input-full-width size-medium status-basic shape-rectangle nb-transition"> -->
                            <nb-list>
                                <!-- <nb-list-item *ngFor="let step of this.currentRecipe.recipeSteps; let i = index">
                                    Step {{ i }}: {{ step.name }}
                                </nb-list-item> -->
                            </nb-list>
                        </div>
                    </div>
                    &nbsp;
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button type="submit" nbbutton="" aria-disabled="false" tabindex="0"
                                class="appearance-filled size-medium shape-rectangle status-basic nb-transition">
                                Save
                            </button>
                        </div>
                    </div>

                </nb-card-body>
            </nb-card>

            <ng-template #forminfo>
                <div class="container">
                    {{ post | json }}
                </div>
            </ng-template>
            <div class="container" style="margin: auto; align-content: center;" fxFill>
                <div>
                    <!-- <app-address-form #addressForm [userName]="userName"></app-address-form> -->
                </div>
            </div>
        </form>
    </nb-tab>
    <nb-tab tabTitle="Ingredients">

    </nb-tab>
    <nb-tab tabTitle="Measuring Units">

    </nb-tab>
</nb-tabset>

<pre>{{ currentRecipeJson }}</pre>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />





<p>Samples (use theme):</p>

<nb-card>
    <nb-card-body class="example-items-rows">
        <input type="text" nbInput fullWidth 
            class="input-full-width size-medium status-basic shape-rectangle nb-transition" placeholder="Default">
        <input type="text" nbInput placeholder="Text field" 
            class="input-full-width size-medium status-basic shape-rectangle nb-transition">
        <input type="text" nbInput placeholder="Disabled Text field" 
        class="input-full-width size-medium status-basic shape-rectangle nb-transition" disabled>
      
      <textarea rows="5" nbinput="" fullwidth="" shape="round" placeholder="Text Area" 
      class="input-full-width size-medium status-basic shape-semi-round nb-transition" 
      style="margin-top: 16px; margin-bottom: 0px; height: 156px;"></textarea>

    </nb-card-body>
  </nb-card>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Using the Grid</nb-card-header>
            <nb-card-body>
                <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div class="form-group row"><label for="inputEmail1"
                            class="label col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9"><input type="email" nbinput="" fullwidth="" id="inputEmail1"
                                placeholder="Email"
                                class="input-full-width size-medium status-basic shape-rectangle nb-transition"></div>
                    </div>
                    <div class="form-group row"><label for="inputPassword2"
                            class="label col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9"><input type="password" nbinput="" fullwidth="" id="inputPassword2"
                                placeholder="Password"
                                class="input-full-width size-medium status-basic shape-rectangle nb-transition"></div>
                    </div>
                    <div class="form-group row"><label class="col-sm-3 label">Radios</label>
                        <div class="col-sm-9">
                            <!-- <nb-radio-group >
                                <nb-radio  class="status-basic"><label
                                       ><input type="radio"
                                            class="native-input visually-hidden" name="undefined"
                                            value="undefined"><span _ngcontent-oqu-c183=""
                                            class="outer-circle"></span><span _ngcontent-oqu-c183=""
                                            class="inner-circle"></span><span class="text">Option
                                            1</span></label></nb-radio>
                                <nb-radio class="status-basic"><label
                                        _ngcontent-oqu-c183=""><input type="radio"
                                            class="native-input visually-hidden" name="undefined"
                                            value="undefined"><span _ngcontent-oqu-c183=""
                                            class="outer-circle"></span><span _ngcontent-oqu-c183=""
                                            class="inner-circle"></span><span class="text">Option
                                            2</span></label></nb-radio>
                                <nb-radio  disabled="" _nghost-oqu-c183="" class="status-basic">
                                    <label ><input type="radio"
                                            class="native-input visually-hidden" name="undefined" value="undefined"
                                            disabled=""><span  class="outer-circle"></span><span
                                            class="inner-circle"></span><span
                                            class="text">Disabled Option</span></label>
                                </nb-radio>
                            </nb-radio-group> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9"><button type="submit" nbbutton="" status="primary"
                                aria-disabled="false" tabindex="0"
                                class="appearance-filled size-medium shape-rectangle status-primary nb-transition">Sign
                                in</button></div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>Form without labels</nb-card-header>
            <nb-card-body>
                <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div class="form-group"><input type="text" nbinput="" fullwidth="" placeholder="Recipients"
                            class="input-full-width size-medium status-basic shape-rectangle nb-transition"></div>
                    <div class="form-group"><input type="text" nbinput="" fullwidth="" placeholder="Subject"
                            class="input-full-width size-medium status-basic shape-rectangle nb-transition"></div>
                    <div class="form-group"><textarea nbinput="" placeholder="Message"
                            class="size-medium status-basic shape-rectangle nb-transition"></textarea></div><button
                        type="submit" nbbutton="" status="success" aria-disabled="false" tabindex="0"
                        class="status-success appearance-filled size-medium shape-rectangle nb-transition">Send</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card _nghost-oqu-c77="">
            <nb-card-header>Basic form</nb-card-header>
            <nb-card-body>
                <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div class="form-group"><label for="exampleInputEmail1" class="label">Email address</label><input
                            type="email" nbinput="" fullwidth="" id="exampleInputEmail1" placeholder="Email"
                            class="input-full-width size-medium status-basic shape-rectangle nb-transition"></div>
                    <div class="form-group"><label for="exampleInputPassword1" class="label">Password</label><input
                            type="password" nbinput="" fullwidth="" id="exampleInputPassword1" placeholder="Password"
                            class="input-full-width size-medium status-basic shape-rectangle nb-transition"></div>
                    <div class="form-group">
                        <!-- <nb-checkbox   class="status-basic nb-transition">
                            <label  class="label"><input  type="checkbox"
                                    class="native-input visually-hidden"><span 
                                    class="custom-checkbox">
                                </span><span  class="text">Check me out</span></label>
                        </nb-checkbox> -->
                    </div><button type="submit" nbbutton="" status="danger" aria-disabled="false" tabindex="0"
                        class="appearance-filled size-medium shape-rectangle status-danger nb-transition">Submit</button>
                </form>
            </nb-card-body>
        </nb-card>
        <nb-card _nghost-oqu-c77="">
            <nb-card-header>Block form</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group"><label for="inputFirstName" class="label">First Name</label><input
                                type="text" nbinput="" fullwidth="" id="inputFirstName" placeholder="First Name"
                                class="input-full-width size-medium status-basic shape-rectangle nb-transition"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group"><label for="inputLastName" class="label">Last Name</label><input
                                type="text" nbinput="" fullwidth="" id="inputLastName" placeholder="Last Name"
                                class="input-full-width size-medium status-basic shape-rectangle nb-transition"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group"><label for="inputEmail" class="label">Email</label><input type="email"
                                nbinput="" fullwidth="" id="inputEmail" placeholder="Email"
                                class="input-full-width size-medium status-basic shape-rectangle nb-transition"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group"><label for="inputWebsite" class="label">Website</label><input
                                type="text" nbinput="" fullwidth="" id="inputWebsite" placeholder="Website"
                                class="input-full-width size-medium status-basic shape-rectangle nb-transition"></div>
                    </div>
                </div><button type="submit" nbbutton="" aria-disabled="false" tabindex="0"
                    class="appearance-filled size-medium shape-rectangle status-basic nb-transition">Submit</button>
            </nb-card-body>
        </nb-card>
    </div>
</div>